*{margin: 0;}

/* Hide scrollbar for Chrome, Safari and Opera */
.all::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .all {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: #F3F3F3;
  }

  html, body {
    overflow: auto !important;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none !important;
}



header a{
    color: grey;
   }
   



   header a:hover{
    color: black;
   }
   


header{
    width: 98.7vw;
    height: 3vh;
    margin-left: 0.6vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    letter-spacing: -0.04vw;
    font-size: 1.4vh;
    z-index: 99;
    position: fixed;
    top: 0;
    background-color: #F3F3F3;
    text-align: center;
}



header p {
    margin-bottom: 0.7vh;
}

.mail {
    animation: blink 1s steps(1, end) infinite; /* Animation sans effet smooth */
}

/* Animation pour changer la couleur de noir à blanc */
@keyframes blink {
    0%, 100% {
        color: black;
    }
    50% {
        color: #F3F3F3;
    }
}


section{
    height: 95.2vh;
    width: 98.7vw;
    margin-left: 0.6vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
   column-gap: 1vh;
   margin-top: 3.5vh;
   background-color: #F3F3F3;
   }




.archives{
    margin-right: 6vw;
}


.works{
margin-left: 3vw;
}


a {
    text-decoration: none;
    color: inherit; /* Cela récupère la couleur du texte parent */
}



.leftbox{
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: 1vh;
    display: grid;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    letter-spacing: -0.03vw;
    font-size: 1.4vh;
    text-transform: uppercase;
    position: fixed;
    text-align-last: justify;
    height: 95.8vh;
    width: 24.3vw;
}


.justify{
    text-align: justify;
}

.texttop{
    text-align: justify;
    width: 100%; /* Assurer que le texte a une largeur */
}






.textbot{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


header a {
    margin-bottom: 0.7vh;
    }
    
span{
    color: #9E9E9E;
}



.rightbox{
    grid-column-start: 5;
grid-column-end: 13;}


.imagetop{
    max-width: 100%;
    height: auto;
}

.imagetop img{
    display: flex;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imagedeux {
    width: 100%;
    display: flex;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.imagedeux img {
    object-fit: cover;
    width: 49.6%;
}

.img3 {
    margin-left: 1vh;
}


.img4{
    width: 100%;
    margin-top: 1vh;

}


.img5{
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 0.5vh;
}




/* Animation de glissement vers le bas */
@keyframes slideDown {
    from {
        top: -100px; /* Hors de l'écran */
    }
    to {
        top: 0; /* Position normale */
    }
}

/* Effet de fondu blanc pour le main */
main {
    opacity: 0; /* Commence invisible */
    animation: fadeIn 1s ease forwards; /* Animation de fondu */
    animation-delay: 0.5s; /* Délai d'une seconde après le header */
}

/* Animation de fondu */
@keyframes fadeIn {
    from {
        opacity: 0; /* Invisible */
    }
    to {
        opacity: 1; /* Complètement visible */
    }
}



@media (max-width: 768px) {
  
    header {
      font-size: 1.2vh;
     
      
    }
  
    .works{
      margin-left: 30vw;
    }
  
  
    .archives{
      margin-right: 0;
    }
  
  
    
    section{
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(3, 1fr);
      height: calc(var(--vh, 1vh) * 100);
    }


    .leftbox {
        font-size: 1.2vh;
        position: fixed;
        display: flex;
        flex-direction: row; 
        height: 14vh;
        width: 98.5vw;
      }
    
    
    
      .texttop{
        margin-top: -0.5vh;
        width: 66%;
      }
      


      
      .texttop p{
        text-align: justify;
        letter-spacing: -0.6px;
        line-height: 1.1;
      }
      
      
      .textbot {
        display: flex;
        width: 24%;
        line-height: 1.1;
        text-align: justify;
        align-items: flex-end; /* ← important pour pousser le texte à droite */
        margin-top: -0.5vh;
        margin-left: 10vw;
        flex-direction: column;
      }     
    
    
      
      .textbot p{
          letter-spacing: -0.6px;
          text-align: right;
      }
    

      .web {
        display: none;
      }
      
      
        .rightbox{
          grid-column-start: 1;
          grid-column-end: 13;
          font-size: 4vh;
          margin-top: 18vh;
          gap: 0.5vh; 
        z-index: 99;}
      
}
